.code__block {
    border-radius: var(--border-radius-3);
    box-shadow: var(--card-primary-shadow);
    overflow: hidden;
    position: relative;
    height: fit-content;
}

.code__block::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(to bottom, transparent, var(--color-ui-1));
}

.code__block .dot__container {
    justify-content: flex-start;
    gap: 0.4rem;
    height: 50px;
    padding: 0 20px;
    border-bottom: 0.5px solid rgba(89, 88, 88, 0.633);
    background: var(--color-ui-1);
}

.code__block .dot {
    width: 0.7rem;
    height: 0.7rem;
    max-width: 0.7rem;
    max-height: 0.7rem;
    min-width: 0.7rem;
    min-height: 0.7rem;
    border-radius: 100%;
    background: var(--color-success);
}

.code__block .dot:nth-child(1) {
    background: var(--color-danger);
}

.code__block .dot:nth-child(2) {
    background: var(--color-warning);
}

.hljs-keyword {
    color: rgb(129, 38, 129) !important;
}

.hljs-string {
    color: green !important;
}

.hljs-comment {
    color: gray !important;
}