.social__handles__container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social__handles__container .social__handle {
    position: relative;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social__handles__container .tooltip {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    position: absolute;
    top: 0;
    font-size: 14px;
    background: linear-gradient(260deg, var(--color-dark) 0%, var(--color-primary) 100%);
    color: var(--color-text);
    padding: 5px 8px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social__handles__container .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: linear-gradient(260deg, var(--color-dark) 0%, var(--color-primary) 100%);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social__handles__container .social__handle:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}