#about {
    position: relative;
    margin-top: 60px;
}

#about .section__wrapper {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 40px;
    border-radius: 20px;
    position: relative;
}

#about .hole {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#about .column {
    position: relative;
}

#about .right__column {
    padding: 100px 0;
}

#about .skill__title {
    font-size: 20px;
    margin-bottom: 30px;
}

#about .skill__container {
    max-width: 300px;
    margin: auto;
    position: relative;
    z-index: 2;
}

#about .skill__group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#about .skill {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 2px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    background: rgba(var(--color-primary-rgb), .3);
    box-shadow: var(--card-primary-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    transition: transform .3s ease-in-out, scale .4s ease-in-out;
}

#about .skill:hover {
    z-index: 1;
    transform: rotate(0deg) scale(2);
}

#about .skill__logo {
    width: 30px;
    height: 30px;
}

#about .skill__logo > img {
    object-fit: contain;
    filter: grayscale(100%);
    filter: grayscale(1);
}

#about .card__ui-item {
    max-width: 200px;
    position: absolute;
    bottom: -50px;
    z-index: 0;
}


@media (max-width: 768px) {
    #about .section__wrapper {
        grid-template-columns: 100%;
        gap: 20px;
    }
    #about .left__column {
        padding-top: 40px;
    }   
    #about .right__column {
        padding-top: 30px;
        padding-bottom: 40px;
    }
}


