#contact {
    overflow: hidden
}

#contact .section__wrapper {
    padding: 0;
    position: relative;
    z-index: 1;
    overflow: hidden
}

#contact .pyramid__container {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1
}

#contact .contact__group {
    padding: 50px 30px;
    display: grid;
    grid-template-columns: 500px auto;
    gap: 20px;
    border-radius: var(--border-radius-3);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background: rgba(var(--color-ui-2-rgb),.9);
    clip-path: var(--polygon);
    box-shadow: var(--card-primary-shadow)
}

#contact .title,#contact .title .shine {
    font-size: 2rem;
    font-weight: 900
}

#contact .contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 50px 0
}

#contact .option {
    padding: 1rem;
    border-radius: var(--border-radius-3);
    background: rgba(var(--card-rgb),.1);
    border: solid 1px rgba(var(--card-border-rgb),.15);
    display: flex;
    gap: .5rem
}

#contact .contact__icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px
}

#contact .contact__icon img {
    object-fit: contain
}

#contact .contact__content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 1rem
}

#contact .contact__content .name {
    font-size: 16px
}

#contact .contact__content .value {
    font-size: 10px
}

#contact .option .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px;
}

#contact .option .btn .text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    letter-spacing: 1.2px;
    padding: 0 10px 0 20px
}

#contact .option .btn .icon {
    font-size: 1.2rem;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%
}

#contact .option .btn svg {
    transition-duration: 1.5s
}

#contact .option .btn:hover .icon svg {
    transition-duration: 1.5s;
    animation: animateIcon 1s linear infinite
}

@keyframes animateIcon {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1.1);
    }
}


/* Contact from */
#contact form {
    padding: 40px;
    border-radius: var(--border-radius-3);
    background: var(--color-ui-2);
    clip-path: var(--polygon);
    box-shadow: var(--card-primary-shadow);
}

input,
textarea {
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    font-size: 1rem;
    color: var(--color-text);
    border-radius: var(--border-radius-3);
    background: var(--color-ui-1);
    border: solid 2 transparent;
    resize: none;
}

input:focus,
textarea:focus {
    border-color: var(--color-primary);
}

#contact .submit__btn {
    font-size: 20px;
    background: var(--color-primary);
    border-radius: 16px;
    overflow: hidden;
    transition: var(--trasnition);
    cursor: pointer;
    margin: auto;
}

#contact .submit__btn span {
    display: block;
    margin-left: 0.3rem;
    transition: var(--transition);
}

#contact .submit__btn span svg {
    display: block;
    transform-origin: center center;
    transition: trasform 0.3s ease-in-out;
}

#contact .submit__btn:hover .icon {
    animation: fly 0.6s ease-in-out infinite alternate;
}

@keyframes fly {
    from {
        transform: translateY(0.1rem);
    }

    to {
        transform: translateY(-0.5rem);
    }
}

#contact .submit__btn:hover svg {
    transform: translateX(1.2rem) rotate(45deg) scale(1.1);
}

#contact .submit__btn:hover span {
    transform: translateX(8rem);
}


/* Responsiveness */
@media (max-width: 1000) {
    #contact .pyramid__container {
        width: 70%;
        top: 30%;
        transform: translate(-50%, -30%);
    }
}

@media (max-width: 800px) {
    #contact .contact__group {
        grid-template-columns: 100%;
        gap: 2rem;
    }
}

@media (max-width: 600px) {
    #contact .contact__group {
        padding: 80px 10px;
    }

    #contact form {
        padding: 20px;
    }

    #contact .contact__content {
        flex-direction: column;
    }
}